#aboutUs{
    text-align: center;
    padding: 2rem 0;


}
#aboutUs h3{
    padding: 0 0 2rem 0;
    font-size: 22px;
    font-weight: bold;



}
#aboutUs  p{
    line-height: 1.5;

}

.missionLine {
    margin-left: 50%;
    transform: translate(-50%, -50%);
    /* rotate: 45deg; */
}